body {
  margin: 0;
  padding: 0;
  display: flex;
}

#map {
  position: relative;
}

.controls {
  width: 20vw;
  background: rgb(49, 49, 49);
  z-index: 200;
}

#info {
  color: #000;
  z-index: 100;
  padding: 5px;
  background: #fff;
  margin-top: 20px;
  width: 220px;
  border-radius: 4px;
  border: 1px solid #000;
  pointer-events: none;
}
